<% if (site.posts.length > 0) { %>
<div class="articles">
    <h1>Recent Posts</h1>
    <% site.posts.sort('date', -1).limit(10).each(function(post) { %>
    <div class="article">
        <div class="article-header">
            <a href="<%= config.root + post.path %>"><h2><%= post.title %></h2></a>
        </div>
        <div class="article-entry">
            <% if (post.excerpt){ %>
                <%- post.excerpt %>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </div>
        <div class="article-footer">
            <% if (post.date) { %>
                <time datetime="<%= post.date.toJSON() %>">
                    <%= date(post.date) %>
                </time>
                <% } %>
                <% if (post.tags && post.tags.length){ %>
                <span> | </span>
                <%- list_tags(post.tags, {
                    show_count: false,
                    class: 'article-tag'
                }) %>
            <% } %>
            <span class="read-more"><a href="<%- url_for(post.path) %>#more">Read more</a></span>
        </div>
    </div>
    <% }); %>
</div>
<% } %>
